/.venv/
.idea
*/__pycache__/*
*/static/*
.env
/apps/utils/__pycache__/*
/apps/user/migrations/__pycache__/*
/apps/user/__pycache__/*
/apps/modules/migrations/__pycache__/*
/apps/modules/__pycache__/*

